body {
  background-color: #ff735c;
}
.container {
  display: flex;
  justify-content: center;

}
.App {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  border-radius: 10px;
}
h1 {
  text-transform: uppercase;
  color: #ff735c;
  font-family: 'Roboto', sans-serif;
}
.crossed {
  text-decoration: line-through 2px #ff735c;
  background-color: #f5c0b7;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.add {
  background: #2c6d80;
  margin-top: 5px;
  color: #ffff;
}
  .delete {
    background: #c3422e;
    margin-bottom: 5px;
    color: #ffff;
}
.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}
input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #de9185;
  outline: none;
}
